<%- include('../layout')%>
<div class="container mt-5">
    <a class="btn btn-primary" href="/users/tambah-user" role="button">Tambah User</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NIS</th>
            <th scope="col">Nama User</th>
            <th scope="col">ID Kartu</th>
            <th scope="col">Kelas</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user,index) { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= user.nis %></td>
                <td><%= user.name %></td>
                <td><%= user.idcard %></td>
                <td><%= user.kelas %></td>
                <td>
                    <a class="btn btn-warning" href="/users/edit-user/<%= user.id %>" role="button">Edit User</a>
                    <a class="btn btn-danger" id="deleteButton" user-id="<%= user.id %>" role="button">Delete User</a>
                </td>
            </tr>
        <% }) %>

        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $("#deleteButton").click(function () {
            if(confirm("Apakah user ini mau dihapus ?")){
                // delete
                $.ajax({
                    method : "GET",
                    url : "/users/delete-user/"+$("#deleteButton").attr("user-id")
                }).done(function() {
                    window.location.reload()
                })
            }else{
                alert("Batal")
            }
        })
    })
</script>